/* CSS Document */

.body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.nav{
    font-family: "Raleway", sans-serif;
    font-size: 18px; 
    line-height: 21px;
    font-weight: 496;
}

.nav-a { 
    text-transform: uppercase;
    font-weight: bold;
}

.nav a,
.contacts a {
    text-decoration: none;
    color: #2E2F42
}

.accent{
    color: #4D5AE5;
}

.contacts{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal; 
    font-style: normal; 
}

 .page-nav, .contacts, .about-us, .team,  .portfolio {
    list-style-type: none;
 }

.main-section {
    background-color: #2E2F42;
}

h1 {
    color: #E5E5E5;
    line-height: 60px;
    font-size: 56px;
    text-align: center;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
}

h2 {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 36px;
    font-weight: bold;
}

h3{
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.about-us p, 
.team p, 
.portfolio p{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #434455;
} 

.footer {
    color:#F4F4FD;
    background-color: #2E2F42;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.footer-accent{
    color: #4D5AE5;
}   

.footer a{
    text-decoration: none;
    text-transform: uppercase;
}
.footer p{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: normal;
}